.footer-container {
    background-color: #FFFF;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    font-size: 20px;
    color: #333;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #94CAAD;
}
